In [1]:
import pandas as pd

In [14]:
# df = pd.read_csv("final_again.csv")

In [16]:
# df = df.drop(columns="Column1")
# df.fillna(0, inplace=True)

In [17]:
# df.rename(columns={"Lifetime Gross": "Lifetime_Gross"}, inplace=True)

In [18]:
# df.to_csv("Movies_final_1.csv")

In [19]:
# final1 = pd.read_csv("Movies_final_1.csv")

In [20]:
# final1

,Unnamed: 0,Rank,Title,Lifetime_Gross,Year,Movie_id,Image,Director
0,0,1,Avatar,2923706026,2009,tt1630029,0,0
1,1,2,Avengers: Endgame,2799439100,2019,tt4154796,0,0
2,2,3,Avatar: The Way of Water,2318325624,2022,tt1630029,0,0
3,3,4,Titanic,2264162353,1997,tt0120338,0,0
4,4,5,Star Wars: Episode VII - The Force Awakens,2071310218,2015,tt2488496,0,0
...,...,...,...,...,...,...,...,...
595,595,596,The Firm,270248367,1993,tt0106918,https://m.media-amazon.com/images/M/MV5BNDMzND...,0
596,596,597,We're the Millers,269994119,2012,tt1723121,https://m.media-amazon.com/images/M/MV5BZDU3YW...,0
597,597,598,Gran Torino,269958228,2008,tt1205489,https://m.media-amazon.com/images/M/MV5BMTc5NT...,Clint Eastwood
598,598,599,"10,000 BC",269784201,2008,tt0443649,https://m.media-amazon.com/images/M/MV5BMzc2ND...,0
599,599,600,American Gangster,269755430,2007,tt0765429,https://m.media-amazon.com/images/M/MV5BMjFmZG...,0

In [21]:
# final1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      600 non-null    int64
 1   Rank            600 non-null    int64
 2   Title           600 non-null    object
 3   Lifetime_Gross  600 non-null    int64
 4   Year            600 non-null    int64
 5   Movie_id        600 non-null    object
 6   Image           600 non-null    object
 7   Director        600 non-null    object
dtypes: int64(4), object(4)
memory usage: 37.6+ KB

In [2]:
data = pd.read_csv("Movies_final_1.csv")
df = pd.DataFrame(data)
df.drop(columns="Unnamed: 0", inplace=True)
df

,Rank,Title,Lifetime_Gross,Year,Movie_id,Image,Director
0,1,Avatar,2923706026,2009,tt1630029,0,0
1,2,Avengers: Endgame,2799439100,2019,tt4154796,0,0
2,3,Avatar: The Way of Water,2318325624,2022,tt1630029,0,0
3,4,Titanic,2264162353,1997,tt0120338,0,0
4,5,Star Wars: Episode VII - The Force Awakens,2071310218,2015,tt2488496,0,0
...,...,...,...,...,...,...,...
595,596,The Firm,270248367,1993,tt0106918,https://m.media-amazon.com/images/M/MV5BNDMzND...,0
596,597,We're the Millers,269994119,2012,tt1723121,https://m.media-amazon.com/images/M/MV5BZDU3YW...,0
597,598,Gran Torino,269958228,2008,tt1205489,https://m.media-amazon.com/images/M/MV5BMTc5NT...,Clint Eastwood
598,599,"10,000 BC",269784201,2008,tt0443649,https://m.media-amazon.com/images/M/MV5BMzc2ND...,0
599,600,American Gangster,269755430,2007,tt0765429,https://m.media-amazon.com/images/M/MV5BMjFmZG...,0

In [8]:
for num, movie in df.iterrows():
    rank = movie["Rank"]
    title = movie["Title"]
    lifetimegross = movie["Lifetime_Gross"]
    year = movie["Year"]
    movie_id = movie["Movie_id"]
    image = movie["Image"]
    director = movie["Director"]
    # print(rank, title, lifetimegross, year, movie_id, image, director)
    db.call_db(insert_movie, mov["Rank"], mov["Title"], mov["Lifetime_Gross"], mov["Year"], mov["Movie_id"], mov["Image"], mov["Director"])

1 Avatar 2923706026 2009 tt1630029 0 0