In [51]:
import pandas as pd
import requests
import sqlite3

In [52]:
movies = pd.read_csv("movies_final.csv")

In [53]:
movies

,Rank,Title,Lifetime Gross,Year,Movie_id,Unnamed: 5,Image,Director
0,1,Avatar,2923706026,2009,tt1630029,NaN,NaN,NaN
1,2,Avengers: Endgame,2799439100,2019,tt4154796,NaN,NaN,NaN
2,3,Avatar: The Way of Water,2318325624,2022,tt1630029,NaN,NaN,NaN
3,4,Titanic,2264162353,1997,tt0120338,NaN,NaN,NaN
4,5,Star Wars: Episode VII - The Force Awakens,2071310218,2015,tt2488496,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
595,596,The Firm,270248367,1993,tt0106918,NaN,https://m.media-amazon.com/images/M/MV5BNDMzND...,0
596,597,We're the Millers,269994119,2012,tt1723121,NaN,https://m.media-amazon.com/images/M/MV5BZDU3YW...,0
597,598,Gran Torino,269958228,2008,tt1205489,NaN,https://m.media-amazon.com/images/M/MV5BMTc5NT...,Clint Eastwood
598,599,"10,000 BC",269784201,2008,tt0443649,NaN,https://m.media-amazon.com/images/M/MV5BMzc2ND...,0
599,600,American Gangster,269755430,2007,tt0765429,NaN,https://m.media-amazon.com/images/M/MV5BMjFmZG...,0

In [54]:
movies.fillna(0, inplace=True)

In [66]:
movies = movies.drop(columns=['Unnamed: 5'])

In [56]:
url_path = ("https://imdb-api.com/en/API/Title/k_br0y2jj3/")

In [67]:
test = movies[:1]
test = pd.DataFrame(test)

In [68]:
test

   Rank   Title  Lifetime Gross  Year   Movie_id Image Director
0     1  Avatar      2923706026  2009  tt1630029     0        0

In [59]:
mov_id = 'tt1630029'	
re = requests.get(f"{url_path}{mov_id}")

In [60]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            600 non-null    int64
 1   Title           600 non-null    object
 2   Lifetime Gross  600 non-null    int64
 3   Year            600 non-null    int64
 4   Movie_id        600 non-null    object
 5   Unnamed: 5      600 non-null    float64
 6   Image           600 non-null    object
 7   Director        600 non-null    object
dtypes: float64(1), int64(3), object(4)
memory usage: 37.6+ KB

In [61]:
re_json = re.json()
re_json

{'id': 'tt1630029',
 'title': 'Avatar: The Way of Water',
 'originalTitle': '',
 'fullTitle': 'Avatar: The Way of Water (2022)',
 'type': 'Movie',
 'year': '2022',
 'image': 'https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_Ratio0.6975_AL_.jpg',
 'releaseDate': '2022-12-16',
 'runtimeMins': '192',
 'runtimeStr': '3h 12min',
 'plot': "Jake Sully lives with his newfound family formed on the extrasolar moon Pandora. Once a familiar threat returns to finish what was previously started, Jake must work with Neytiri and the army of the Na'vi race to protect their home.",
 'plotLocal': '',
 'plotLocalIsRtl': False,
 'awards': 'Won 1 Oscar, 62 wins & 129 nominations total',
 'directors': 'James Cameron',
 'directorList': [{'id': 'nm0000116', 'name': 'James Cameron'}],
 'writers': 'James Cameron, Rick Jaffa, Amanda Silver',
 'writerList': [{'id': 'nm0000116', 'name': 'James Cameron'},
  {'id': 'nm0415425', 'name': 'Rick Jaffa'},
  {'id': 'nm0798646', 'name': 'Amanda Silver'}],
 'stars': 'Sam Worthington, Zoe Saldana, Sigourney Weaver',
 'starList': [{'id': 'nm0941777', 'name': 'Sam Worthington'},
  {'id': 'nm0757855', 'name': 'Zoe Saldana'},
  {'id': 'nm0000244', 'name': 'Sigourney Weaver'}],
 'actorList': [{'id': 'nm0941777',
   'image': 'https://m.media-amazon.com/images/M/MV5BZWUwNmEwZTUtYzMxMS00ODg5LTlmYjItMGU4ZjNmN2Q1NjkwXkEyXkFqcGdeQXVyMTM1MjAxMDc3._V1_Ratio1.0000_AL_.jpg',
   'name': 'Sam Worthington',
   'asCharacter': 'Jake'},
  {'id': 'nm0757855',
   'image': 'https://m.media-amazon.com/images/M/MV5BMGNhNzdlMTAtZGE2NS00MmU5LWIzNmYtMjVlNThiNmU1ZWY4XkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Zoe Saldana',
   'asCharacter': 'Neytiri'},
  {'id': 'nm0000244',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTk1MTcyNTE3OV5BMl5BanBnXkFtZTcwMTA0MTMyMw@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Sigourney Weaver',
   'asCharacter': 'Kiri'},
  {'id': 'nm0002332',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjE4NzYwNTc5Nl5BMl5BanBnXkFtZTcwMzQzOTUyNw@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Stephen Lang',
   'asCharacter': 'Quaritch'},
  {'id': 'nm0000701',
   'image': 'https://m.media-amazon.com/images/M/MV5BODgzMzM2NTE0Ml5BMl5BanBnXkFtZTcwMTcyMTkyOQ@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Kate Winslet',
   'asCharacter': 'Ronal'},
  {'id': 'nm0193295',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTIxMzA1MDQyM15BMl5BanBnXkFtZTYwNzMwMjI3._V1_Ratio1.0000_AL_.jpg',
   'name': 'Cliff Curtis',
   'asCharacter': 'Tonowari'},
  {'id': 'nm0601376',
   'image': 'https://m.media-amazon.com/images/M/MV5BNzkyYTgzMWEtNGUyZi00ZjA3LThmODctOGRhN2MxYjc3MDZmXkEyXkFqcGdeQXVyMzk0NDMzOQ@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Joel David Moore',
   'asCharacter': 'Norm'},
  {'id': 'nm0001634',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTM4MTI0NzkzN15BMl5BanBnXkFtZTYwNzExNzgz._V1_Ratio1.0000_AL_.jpg',
   'name': 'CCH Pounder',
   'asCharacter': "Mo'at"},
  {'id': 'nm0004908',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTM4NDAzOTk4MF5BMl5BanBnXkFtZTcwNzQ0MzQxMw@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Edie Falco',
   'asCharacter': 'General Ardmore'},
  {'id': 'nm0184698',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjRlMzA3ZjUtMTQyYS00OTI5LWI2MzMtYjg2OTE4Y2MxMmRlXkEyXkFqcGdeQXVyMjIyNTY4MzA@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Brendan Cowell',
   'asCharacter': 'Scoresby'},
  {'id': 'nm1318596',
   'image': 'https://m.media-amazon.com/images/M/MV5BMjE4ODY4Njc5N15BMl5BanBnXkFtZTcwMjk1ODIyMw@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Jemaine Clement',
   'asCharacter': 'Dr. Garvin'},
  {'id': 'nm7370588',
   'image': 'https://m.media-amazon.com/images/M/MV5BMzNiODE4ZmItOWQ0My00NjBlLWIxZTMtMTZjY2U4ZGViN2I4XkEyXkFqcGdeQXVyMjQwMDg0Ng@@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Jamie Flatters',
   'asCharacter': 'Neteyam'},
  {'id': 'nm6839875',
   'image': 'https://m.media-amazon.com/images/M/MV5BMGVmYjQyZGItMGI1MC00OWRkLThhYzUtMTcxNDg5NjFjZjhjXkEyXkFqcGdeQXVyNTU4MTY0MTk@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Britain Dalton',
   'asCharacter': "Lo'ak"},
  {'id': 'nm9304507',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTE3Y2IzZWMtZGUyNC00NjJjLWIxMGQtN2VmNzI1ZjJmNTE2XkEyXkFqcGdeQXVyODA4NzgwOTM@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Trinity Jo-Li Bliss',
   'asCharacter': 'Tuk'},
  {'id': 'nm5607823',
   'image': 'https://m.media-amazon.com/images/M/MV5BNGFiNjM2YzItMDJlNC00ODc4LTk2NTMtZDA1YmIwMGNiNmE1XkEyXkFqcGdeQXVyNTU3ODc2ODU@._V1_Ratio1.5000_AL_.jpg',
   'name': 'Jack Champion',
   'asCharacter': 'Spider'},
  {'id': 'nm3791148',
   'image': 'https://m.media-amazon.com/images/M/MV5BZmQ5MjI2YWEtMTAxYS00NGQ1LWJkYzUtN2I3MDE5Y2E2MWMzXkEyXkFqcGdeQXVyODA4MTc3NDU@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Bailey Bass',
   'asCharacter': 'Tsireya'},
  {'id': 'nm6914609',
   'image': 'https://m.media-amazon.com/images/M/MV5BYjc2ODE5NjQtNjE1MC00OTI0LThlZTEtNTg4ZDEyZDBkYmE3XkEyXkFqcGdeQXVyNDI5NjA3MzI@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Filip Geljo',
   'asCharacter': 'Aonung'},
  {'id': 'nm4737604',
   'image': 'https://m.media-amazon.com/images/M/MV5BODBlZTE4Y2EtNzgxNi00OTY5LTkwOGQtY2E3ZjkwOWJhMjcxXkEyXkFqcGdeQXVyMTMxOTQ0OTQ@._V1_Ratio1.0000_AL_.jpg',
   'name': 'Duane Evans Jr.',
   'asCharacter': 'Rotxo'}],
 'fullCast': None,
 'genres': 'Action, Adventure, Fantasy',
 'genreList': [{'key': 'Action', 'value': 'Action'},
  {'key': 'Adventure', 'value': 'Adventure'},
  {'key': 'Fantasy', 'value': 'Fantasy'}],
 'companies': '20th Century Studios, TSG Entertainment, Lightstorm Entertainment',
 'companyList': [{'id': 'co0781821', 'name': '20th Century Studios'},
  {'id': 'co0420822', 'name': 'TSG Entertainment'},
  {'id': 'co0038663', 'name': 'Lightstorm Entertainment'}],
 'countries': 'USA',
 'countryList': [{'key': 'USA', 'value': 'USA'}],
 'languages': 'English',
 'languageList': [{'key': 'English', 'value': 'English'}],
 'contentRating': 'PG-13',
 'imDbRating': '7.7',
 'imDbRatingVotes': '369115',
 'metacriticRating': '67',
 'ratings': None,
 'wikipedia': None,
 'posters': None,
 'images': None,
 'trailer': None,
 'boxOffice': {'budget': '$350,000,000 (estimated)',
  'openingWeekendUSA': '$134,100,226',
  'grossUSA': '$683,957,969',
  'cumulativeWorldwideGross': '$2,319,325,895'},
 'tagline': None,
 'keywords': 'underwater,ocean,jungle,water,second part',
 'keywordList': ['underwater', 'ocean', 'jungle', 'water', 'second part'],
 'similars': [{'id': 'tt0499549',
   'title': 'Avatar',
   'image': 'https://m.media-amazon.com/images/M/MV5BZDA0OGQxNTItMDZkMC00N2UyLTg3MzMtYTJmNjg3Nzk5MzRiXkEyXkFqcGdeQXVyMjUzOTY1NTc@._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '7.9'},
  {'id': 'tt1745960',
   'title': 'Top Gun: Maverick',
   'image': 'https://m.media-amazon.com/images/M/MV5BZWYzOGEwNTgtNWU3NS00ZTQ0LWJkODUtMmVhMjIwMjA1ZmQwXkEyXkFqcGdeQXVyMjkwOTAyMDU@._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '8.3'},
  {'id': 'tt9764362',
   'title': 'The Menu',
   'image': 'https://m.media-amazon.com/images/M/MV5BMzdjNjI5MmYtODhiNS00NTcyLWEzZmUtYzVmODM5YzExNDE3XkEyXkFqcGdeQXVyMTAyMjQ3NzQ1._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '7.2'},
  {'id': 'tt2911666',
   'title': 'John Wick',
   'image': 'https://m.media-amazon.com/images/M/MV5BMTU2NjA1ODgzMF5BMl5BanBnXkFtZTgwMTM2MTI4MjE@._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '7.4'},
  {'id': 'tt6710474',
   'title': 'Everything Everywhere All at Once',
   'image': 'https://m.media-amazon.com/images/M/MV5BYTdiOTIyZTQtNmQ1OS00NjZlLWIyMTgtYzk5Y2M3ZDVmMDk1XkEyXkFqcGdeQXVyMTAzMDg4NzU0._V1_Ratio0.6957_AL_.jpg',
   'imDbRating': '7.9'},
  {'id': 'tt10954600',
   'title': 'Ant-Man and the Wasp: Quantumania',
   'image': 'https://m.media-amazon.com/images/M/MV5BODZhNzlmOGItMWUyYS00Y2Q5LWFlNzMtM2I2NDFkM2ZkYmE1XkEyXkFqcGdeQXVyMTU5OTA4NTIz._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '6.3'},
  {'id': 'tt12593682',
   'title': 'Bullet Train',
   'image': 'https://m.media-amazon.com/images/M/MV5BMDU2ZmM2OTYtNzIxYy00NjM5LTliNGQtN2JmOWQzYTBmZWUzXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '7.3'},
  {'id': 'tt0120338',
   'title': 'Titanic',
   'image': 'https://m.media-amazon.com/images/M/MV5BMDdmZGU3NDQtY2E5My00ZTliLWIzOTUtMTY4ZGI1YjdiNjk3XkEyXkFqcGdeQXVyNTA4NzY1MzY@._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '7.9'},
  {'id': 'tt10151854',
   'title': 'Shazam! Fury of the Gods',
   'image': 'https://m.media-amazon.com/images/M/MV5BNzJlM2NmZTItOGQyYS00MmE2LTkwZGUtNDFkNmJmZjRjZjcxXkEyXkFqcGdeQXVyMTA3MDk2NDg2._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '6.1'},
  {'id': 'tt9114286',
   'title': 'Black Panther: Wakanda Forever',
   'image': 'https://m.media-amazon.com/images/M/MV5BNTM4NjIxNmEtYWE5NS00NDczLTkyNWQtYThhNmQyZGQzMjM0XkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '6.7'},
  {'id': 'tt1228705',
   'title': 'Iron Man 2',
   'image': 'https://m.media-amazon.com/images/M/MV5BZGVkNDAyM2EtYzYxYy00ZWUxLTgwMjgtY2VmODE5OTk3N2M5XkEyXkFqcGdeQXVyNTgzMDMzMTg@._V1_Ratio0.6763_AL_.jpg',
   'imDbRating': '6.9'},
  {'id': 'tt1757678',
   'title': 'Avatar 3',
   'image': 'https://m.media-amazon.com/images/M/MV5BNmM1NmY4N2QtNmVkOS00MjMyLWI5ZGUtYWYxMDRjY2MzNDdiXkEyXkFqcGdeQXVyMTAwMDAwMA@@._V1_Ratio1.0048_AL_.jpg',
   'imDbRating': ''}],
 'tvSeriesInfo': None,
 'tvEpisodeInfo': None,
 'errorMessage': ''}

In [62]:
for num, movie in enumerate(test["Movie_id"]):
    movie_id = test.loc[test["Image"] == 0, "Movie_id"]

    # resp = requests.get(f"{url_path}{movie}")
    # print(resp)
    resp_json1 = resp.json()
resp_json1.items()
image = resp_json1['image']
director = resp_json1['directorList'],


director_id = resp_json1['directorList'][0]['id']
director_name = resp_json1['directorList'][0]['name']
print(director)
    # id = resp_json1['results'][0]['id']

    # image = resp_json1['results'][0]['image']
    # print(id, title)
    # movies['Movie_id'][num:(num+1)] = id
    # movies['Image'][num:(num+1)] = image

([{'id': 'nm0000116', 'name': 'James Cameron'}],)