In [1]:
import pandas as pd
import requests

In [2]:
df = pd.read_csv("top_600_combined.csv")
url_path = ("https://imdb-api.com/en/API/SearchMovie/k_br0y2jj3/")

In [3]:
df = pd.DataFrame(df)

In [4]:
df.fillna(0, inplace=True)

## Last row was 391.
For next call, use df_func = df[491:591]

In [5]:
start = 491
end = 591

In [6]:
df_func = df[start:end]

In [7]:
df_func

,Rank,Title,Lifetime Gross,Year,Movie_id,Image,Director
491,492,The Polar Express,316897787,2004,0,0,0
492,493,A Beautiful Mind,316791257,2001,tt0268978,https://m.media-amazon.com/images/M/MV5BMzcwYW...,Ron Howard
493,494,Beverly Hills Cop,316360478,1984,0,0,0
494,495,Air Force One,315156409,1997,0,0,0
495,496,Wonder,315025930,2017,0,0,0
...,...,...,...,...,...,...,...
586,587,Cloudy with a Chance of Meatballs 2,274325949,2013,0,0,0
587,588,The Nutty Professor,273961019,1996,0,0,0
588,589,Jerry Maguire,273552592,1996,0,0,0
589,590,Bad Boys II,273339556,2003,0,0,0
590,591,Lilo & Stitch,273144151,2002,0,0,0

In [8]:
for num, title in enumerate(df_func["Title"]):
    tit = df_func.loc[df_func["Movie_id"] == 0, "Title"]
    resp = requests.get(f"{url_path}{title}")
    resp_json1 = resp.json()
    id = resp_json1['results'][0]['id']
    image = resp_json1['results'][0]['image']
    print(id, title)
    df_func['Movie_id'][num:(num+1)] = id
    df_func['Image'][num:(num+1)] = image

tt0338348 The Polar Express

C:\Users\olofs\AppData\Local\Temp\ipykernel_15428\1895295933.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_func['Movie_id'][num:(num+1)] = id
C:\Users\olofs\AppData\Local\Temp\ipykernel_15428\1895295933.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_func['Image'][num:(num+1)] = image

tt0268978 A Beautiful Mind
tt0086960 Beverly Hills Cop
tt0118571 Air Force One
tt2543472 Wonder
tt1764651 The Expendables 2
tt0371606 Chicken Little
tt0119822 As Good as It Gets
tt8946378 Knives Out
tt4046784 Maze Runner: The Scorch Trials
tt2592614 Resident Evil: The Final Chapter
tt4116284 The Lego Batman Movie
tt0145660 Austin Powers: The Spy Who Shagged Me
tt0496806 Ocean's Thirteen
tt0970866 Little Fockers
tt0397892 Bolt
tt0117438 Ransom
tt0163187 Runaway Bride
tt0878804 The Blind Side
tt7830888 The Ex-File 3: Return of the Exes
tt2582846 The Fault in Our Stars
tt0454921 The Pursuit of Happyness
tt1446192 Rise of the Guardians
tt0075860 Close Encounters of the Third Kind
tt2261391 Chicago
tt5140878 Annabelle: Creation
tt1478338 Bridesmaids
tt5758778 Skyscraper
tt1606378 A Good Day to Die Hard
tt0120762 Mulan
tt5074352 Dangal
tt1355644 Passengers
tt1440129 Battleship
tt0119528 Liar Liar
tt1046173 G.I. Joe: The Rise of Cobra
tt1646987 Wrath of the Titans
tt1869414 Fantastic Four: Rise of the Silver Surfer
tt0102057 Hook
tt0078346 Superman
tt0089927 Rocky IV
tt0089880 Rambo: First Blood Part II
tt1220634 Resident Evil: Afterlife
tt0338526 Van Helsing
tt0164912 Stuart Little
tt0092644 Beverly Hills Cop II
tt2567026 Alice Through the Looking Glass
tt0119738 My Best Friend's Wedding
tt0433035 Real Steel
tt0451079 Horton Hears a Who!
tt5164214 Ocean's Eight
tt8332922 A Quiet Place Part II
tt4516496 The Divergent Series: Insurgent
tt0097778 Look Who's Talking
tt0295178 Austin Powers in Goldmember
tt0087332 Ghostbusters
tt1935859 Miss Peregrine's Home for Peculiar Children
tt0120903 X-Men
tt3411444 Ferdinand
tt1130884 Shutter Island
tt0118998 Doctor Dolittle
tt0389790 Bee Movie
tt0944835 Salt
tt0436339 G-Force
tt0407887 The Departed
tt0161081 What Lies Beneath
tt2557478 Pacific Rim: Uprising
tt0372183 The Bourne Supremacy
tt1261945 Sex and the City 2
tt0138097 Shakespeare in Love
tt1840309 Divergent
tt0094898 Coming to America
tt3704428 Elvis
tt0396269 Wedding Crashers
tt4500922 Maze Runner: The Death Cure
tt0112642 Casper
tt0252866 American Pie 2
tt2848292 Pitch Perfect 2
tt0120689 The Green Mile
tt1483013 Oblivion
tt1535108 Elysium
tt0122151 Lethal Weapon 4
tt0401729 John Carter
tt1860353 Turbo
tt1109624 Paddington
tt11847842 The Tourist
tt4972582 Split
tt0175142 Scary Movie
tt0295701 xXx
tt1194173 The Bourne Legacy
tt0864835 Mr. Peabody & Sherman
tt0267913 Scooby-Doo
tt0443272 Lincoln
tt0146316 Lara Croft: Tomb Raider
tt1365519 Tomb Raider
tt3291150 The Expendables
tt1985966 Cloudy with a Chance of Meatballs 2
tt0117218 The Nutty Professor
tt0116695 Jerry Maguire
tt0172156 Bad Boys II
tt11655566 Lilo & Stitch

In [9]:
df_func.to_csv(f"{start}-{end}.csv")